In [2]:
import pandas as pd

In [3]:
course_name=['Data Science','Machine Learning','Big Data','Data Engineer']

In [4]:
duration=[2,3,6,4]

In [5]:
df=pd.DataFrame({'course_name':course_name,'duration':duration})

In [6]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
#Q1
df.iloc[[1]]

        course_name  duration
1  Machine Learning         3

In [8]:
#Q2
'''loc uses labels to access data and iloc uses integer positions i.e. indexes.'''

'loc uses labels to access data and iloc uses integer positions i.e. indexes.'

In [9]:
#Q3
reindex=[3,0,1,2]

In [10]:
new_df=df.reindex(reindex)

In [11]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [12]:
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [13]:
#The difference in output is due to the fact that loc takes named indexes and iloc takes actual index

In [14]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [15]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.907579  0.823844  0.179749  0.316413  0.167106  0.285826
2  0.649154  0.440789  0.761756  0.352920  0.987074  0.663142
3  0.832221  0.055669  0.780748  0.320390  0.853954  0.996008
4  0.809904  0.275915  0.816355  0.900163  0.787495  0.275281
5  0.066785  0.394943  0.874996  0.066434  0.239964  0.597762
6  0.915163  0.204723  0.227681  0.060269  0.587463  0.929843

In [16]:
#Q4
df1.mean()

column_1    0.696801
column_2    0.365981
column_3    0.606881
column_4    0.336098
column_5    0.603843
column_6    0.624643
dtype: float64

In [17]:
df1[['column_2']].std()

column_2    0.263243
dtype: float64

In [18]:
#Q5
df1.loc[2,'column_2']='sudh'

In [19]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [20]:
#we cannot find the mean of string data as we can find the mean of only those  datas which have a numerical representation

In [21]:
#Q6
'''In Pandas, a window function is a powerful tool for performing calculations on a sliding window of data in a DataFrame or Series'''
'''Example:Rolling Functions,Expanding Functions,Exponential weighted Functions'''

'Example:Rolling Functions,Expanding Functions,Exponential weighted Functions'

In [22]:
#Q7
print(pd.to_datetime('2023-06-27').day)
print(pd.to_datetime('2023-06-27').month)

27
6

In [23]:
#Q8
def Q8():
    date1 = input("Enter Date1(YYYY-MM-DD)")
    date2 = input("Enter Date2(YYYY-MM-DD)")
    time_diff=abs(pd.to_datetime(date2)-pd.to_datetime(date1))
    days_diff=time_diff.days
    hours_diff=days_diff*24
    mins_diff=hours_diff*60
    print("difference in days: ",days_diff," days")
    print("difference in hours: ",hours_diff," hours")
    print("difference in minutes: ",mins_diff," minutes")

In [24]:
Q8()

Enter Date1(YYYY-MM-DD) 2023-3-4
Enter Date2(YYYY-MM-DD) 2024-3-4

difference in days:  366  days
difference in hours:  8784  hours
difference in minutes:  527040  minutes

In [6]:
#Q9
import pandas as pd

In [7]:
df_players=pd.read_csv("players_data.csv")

In [14]:
pd.Categorical(df_players['Pos'])

['PF', 'SG', 'C', 'PF', 'SG', ..., 'PF', 'PF', 'PF', 'C', 'C']
Length: 675
Categories (12, object): ['C', 'PF', 'PF-SF', 'PG', ..., 'SF-SG', 'SG', 'SG-PG', 'SG-SF']

In [16]:
import csv
student_data=[['Student ID','Test Score'],[1,85],[2,90],
[3,80],
[4,75],
[5,85],
[6,82],
[7,78],
[8,85],
[9,90],
[10,85]]

with open("student_data.csv",'w') as f:
    writer=csv.writer(f)
    for i in student_data:
        writer.writerow(i)

In [17]:
df_11=pd.read_csv("student_data.csv")

In [18]:
df_11

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [33]:
TSmean=df_11['Test Score'].mean()
TSmedian=df_11['Test Score'].median()
TSmode=list(df_11['Test Score'].mode())

In [34]:
TSmode

[85]

In [22]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
from tabulate import tabulate

In [35]:
my_data=[['Mean',TSmean],['Median',TSmedian],['Mode',TSmode[0]]]
head=['Statistic','Value']
print(tabulate(my_data,headers=head))

Statistic      Value
-----------  -------
Mean            83.5
Median          85
Mode            85