In [ ]:
#Q1
"""We use for loop when we exactly know how many number of times we have to iterate.But in case of while loop we iterate until a condition is met irrespective of the number of times the loop runs.
For example, we use for loop to find the sum of first n natural numbers.On the o

In [1]:
#Q2

In [2]:
sum=0

In [3]:
for i in range(1,11):
    sum=sum+i

In [4]:
sum

55

In [5]:
product=1

In [6]:
for i in range(1,11):
    product=product*i

In [7]:
product

3628800

In [8]:
sum_w=0;
counter=1;
while counter<=10:
    sum_w=sum_w+counter
    counter=counter+1
print(sum_w)

55

In [9]:
product_w=1
counter=1
while counter<=10:
    product_w=product_w*counter
    counter=counter+1
print(product_w)

3628800

In [10]:
product

3628800

In [11]:
#Q3

In [15]:
unit = int(input("enter the unit of electricity"))
ans=0
for i in range(1,unit+1):
    if i<=100:
        ans=ans + 4.5
    elif i>100 and i<=200:
        ans = ans + 6
    elif i>200 and i<=300:
        ans=ans + 10
    else:
        ans = ans+ 20
print(ans)

enter the unit of electricity 310

2250.0

In [16]:
#Q4

In [17]:
l=[]
l1=[]
for i in range(1,101):
    l.append(i)
for i in range(len(l)):
    if (l[i]**3)%4==0 or(l[i]**3)%5==0 :
        l1.append(l[i]**3)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [ ]:
#Q5

In [1]:
str="I want to become a data scientist"
ans=0

for i in str.lower():
    if i=='a'or i=='e'or i=='i'or i=='o'or i=='u':
        ans=ans+1;
ans

12